In [1]:
## import module
from requests import get
import pandas as pd
from time import sleep

## URL
url = "https://swapi.dev/api/people/"
starwars = []

## for loop
for i in range(5):
  index = i + 1 # i start with 0
  new_url = url + str(index)
  resp = get(new_url).json()
  sleep(2)

  data = {
      "name": resp["name"],
      "height": resp["height"],
      "mass": resp["mass"],
      "gender": resp["gender"],
      "homeworld": get(resp["homeworld"]).json()["name"]
  }

  starwars.append(data)

## convert to df
starwars_df = pd.DataFrame(starwars)
print(starwars_df)
## download to csv file
starwars_df.to_csv("starwars.csv")

             name height mass  gender homeworld
0  Luke Skywalker    172   77    male  Tatooine
1           C-3PO    167   75     n/a  Tatooine
2           R2-D2     96   32     n/a     Naboo
3     Darth Vader    202  136    male  Tatooine
4     Leia Organa    150   49  female  Alderaan